.button {
    @include flex-center;

    width: 100%;
    font-weight: 600;
    border: unset;
    height: var(--btn-height);
    background-color: var(--c-accent-alt);
    border-radius: 100px;
    color: var(--c-light);
    text-align: center;
    column-gap: 10px;
    position: relative;
    overflow: hidden;

    &:disabled {
        background-color: var(--c-gray-dark);
    }

    .content {
        @include flex-center;

        column-gap: 10px;
        position: relative;
        z-index: 2;
    }

    &::before {
        transition: inherit;
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
    }

    &:not(:disabled) {
        &:hover {
            &::before {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
        &:active {
            &::before {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }

}
