.section {
    max-width: 650px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    .title {

        font-size: 28px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
        margin-bottom: 40px;
    }
    .survey {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        justify-content: flex-end;
        --surveyButtonHeight: 66px;

        .surveyPassed {
            justify-self: flex-end;
            text-align: center;
            display: flex;
            flex-grow: 0.6;
            flex-direction: column;
            justify-content: space-between;
            img {
                margin-inline: auto;
            }
        }
        .surveyTitle {
            text-align: center;
            font-weight: 600;
            position: relative;
            display: flex;
            justify-content: center;
            column-gap: 0.3em;

            .surveyQuestionLabel {
                margin-left: -1.75em;
            }
            .surveyQuestionCount {
                text-align: left;
                min-width: 85px;
                position: absolute;
            }
        }
        .surveyDescription {
            @include flex-center;
            @include scrollbar;

            --maxHeightText: 160px;
            width: 100%;
            max-height: var(--maxHeightText);
            min-height: var(--maxHeightText);
            overflow-y: auto;
            text-align: center;
            font-weight: 500;
            font-size: var(--fz-xl);
            overflow-x: hidden;
        }
        .surveyButton {
            height: var(--surveyButtonHeight);
        }
        .surveyControls {
            .suggestion {
                color: var(--c-gray-dark);
                font-size: var(--fz-m);
                display: block;
                text-align: center;
                margin-bottom: 1em;
            }
            .buttons {
                display: flex;
                gap: 10px;
                justify-content: space-between;

                .buttonNoActive {
    background-color: var(--c-red) !important;
    
    &:not(:disabled) {
        &:hover {
            &::before {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
        &:active {
            &::before {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}
            }
        }
        .progressBar {
            height: 4px;
            border-radius: var(--bradius-xs);
            background-color: var(--c-gray);

            .line {
                transition: var(--trans-dur) width;
                height: inherit;
                border-radius: inherit;
                background-color: var(--c-accent-alt);
            }
        }
    }
}
