.modal {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-index-modal);

    .modalInner {
        @include flex-center;

        position: relative;
        width: 100%;
        height: 100%;
    }

    .modalCloseButton {
        @include square(40px);

        max-width: fit-content;
        border: 2px solid var(--c-light);
        position: absolute;
        right: 0;
        top: 0;
        translate: 35% -35%;
        z-index: 10;
    }

    .modalBlur {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.15);
        inset: 0;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .modalBody {
        position: relative;
        border: 3px solid var(--c-light);
        max-width: clamp(800px, 44.79vw, 860px);
        height: clamp(570px, 31.97vw, 614px);
        background-image: var(--bg-gradient);
        border-radius: var(--bradius-l);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .modalContent {
        padding: 25px;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        justify-content: space-between;
    }
    .modalContentInfo {
        flex-grow: 1;
    }
    .modalContentDescription {
        padding: 18px;
        color: var(--c-accent);
        text-align: center;
        font-weight: 500;
        background-color: var(--c-light);
        border-radius: var(--bradius-m);
        border: 1px solid currentColor;
    }
    .modalContentHead {
        @include flex-center;

        padding-bottom: 20px;
        border-bottom: 1px solid var(--c-light);
    }
    .modalCoverBlock {
        background: center/cover no-repeat;
        position: relative;
        overflow: hidden;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    .modalAchievementPopup {
        width: 95%;
        left: 50%;
        top: 10px;
        position: absolute;
        display: flex;
        padding: 16px 12px;
        column-gap: 8px;
        align-items: center;
        font-weight: 500;
        translate: -50% 0;
        background-color: var(--c-light);
        border-radius: var(--bradius-s);
    }
}
