.button { 
  @include square(50px); 
  @include flex-center; 
  z-index: 100; 
  right: 80px; 
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  border: 2px solid var(--c-light);
  top: 20px; 
  max-width: fit-content; 
  position: absolute; 
  color: var(--c-light);
  background-color: var(--c-accent-alt); 

  svg { 
    @include square(26px);
  } 
}
